<ul class="nav nav-pills">
    <li id="mainbar-home"><a href="~/Admin/Index">Home</a></li>
    <li id="mainbar-profile"><a href="~/Admin/Profile">Profile</a></li>
    <li id="mainbar-messages"><a href="~/Admin/Messages">Messages<span class="btn-primary badge pull-right">5</span></a></li>
    <li id="mainbar-manage"><a href="~/Admin/ManageCourses">Manage</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">Settings</a></li>
            <li><a href="~/Home/Index">Logout</a></li>
            <li class="divider"></li>
            <li><a href="~/Home/Help">Help</a></li>
            <li><a href="~/Home/About">About</a></li>
            <li><a href="#">FAQs</a></li>
        </ul>
    </li>
</ul>
