<ul class="nav nav-tabs nav-stacked sidebar">
    <li id="sidebar-courses"><a href="~/Admin/ManageCourses">Courses</a></li>
    <li id="sidebar-programs"><a href="~/Admin/ManagePrograms">Programs</a></li>
    <li id="sidebar-rooms"><a href="~/Admin/ManageRooms">Rooms</a></li>
    <li id="sidebar-schedule"><a href="~/Admin/ManageSchedule">Schedule</a></li>
    <li id="sidebar-students"><a href="~/Admin/ManageStudents">Students</a></li>
    <li id="sidebar-teachers"><a href="~/Admin/ManageTeachers">Teachers</a></li>
</ul>