@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to Time Table Class Scheduling System</title>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Content/Datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/JQuery.tipsy/javascripts/jquery.tipsy.js"></script>
    <script src="~/Content/Bootstrap/js/bootstrap.js"></script>
    <link href="~/Content/JQuery.tipsy/stylesheets/tipsy.css" rel="stylesheet" />
    <link href="~/Content/Datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/MainStyleSheet.css" rel="stylesheet" />
</head>
<body>
    @RenderPage("../Shared/_Header.cshtml")
    <div class="panel panel-primary" style="margin: 10px">
        <div class="panel-heading edit-bar">
            <h3 class="panel-title">Personal Information</h3>
        </div>
        <div class="panel-body form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Full Name</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" placeholder="Full Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Date of Birth</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" value="" data-date-format="mm/dd/yy" id="dp2" placeholder="Date of Birth">
                </div>
                <label class="col-sm-2 control-label">Hometown</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Hometown">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">City</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="City">
                </div>
                <label class="col-sm-2 control-label">Country</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Country">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Postal Address</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" placeholder="Postal Address">
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary" style="margin: 10px">
        <div class="panel-heading edit-bar">
            <h3 class="panel-title">Account Information</h3>
        </div>
        <div class="panel-body form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Username</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <label class="col-sm-2 control-label">Email Address</label>
                <div class="col-sm-4">
                    <input type="email" class="form-control" placeholder="Email Address">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Password</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <label class="col-sm-2 control-label">Mobile Number</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Mobile Number">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Retype Passord</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" placeholder="Retype Passord">
                </div>
                <label class="col-sm-2 control-label">Choose Account Type</label>
                <div class="col-sm-4">
                    <input type="radio" name="account" style="margin-left: 5px">
                    Trial
                    <input type="radio" name="account" style="margin-left: 5px">
                    Premium
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary" style="margin: 10px">
        <div class="panel-heading edit-bar">
            <h3 class="panel-title">Payment Information</h3>
        </div>
        <div class="panel-body form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Credit Card Number</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Mobile Number">
                </div>
                <label class="col-sm-2 control-label">Credit Card Type</label>
                <div class="col-sm-4">
                    <input type="radio" name="account" style="margin-left: 5px">
                    Master
                    <input type="radio" name="account" style="margin-left: 5px">
                    Visa
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Payment Upto</label>
                <div class="col-sm-4">
                    <input type="number" min="1" class="form-control" placeholder="(In Years)">
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary" style="margin: 10px">
        <div class="panel-heading edit-bar">
            <h3 class="panel-title">Signup</h3>
        </div>
        <div class="panel-body form-horizontal">
            <div class="form-group">
                <div class="col-sm-12">
                    <input id="Checkbox1" type="checkbox" />
                    I have read agree to the terms and conditions of this site
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea class="form-control" style="height: 100px">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button id="editpersonal-save" type="submit" class="btn btn-lg btn-primary" onclick="saveEdit(this.id)">Create My Account</button>
                </div>
            </div>
        </div>
    </div>
    <div id="editpersonal-buttons" class="form-group">
    </div>
</body>
<script>
    $('#dp2').datepicker();
</script>
</html>
